.expertSolution{
  padding: 4.2rem 0rem 0rem 0rem;
  background: url('../img/bg/bg-expertSolutions.jpg') center (center/cover) no-repeat;
  &__title{
   text-align: center;
    h3{
      font-size: 1.5em;
      line-height: normal;
      font-weight: 900;
      color: #ffffff;
    }
  }
  &__tabs{
    height: 64px;
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; /*Для ануляции свойств установленных по умолчанию для ul*/
    padding-left: 0; /*Для ануляции свойств установленных по умолчанию для ul*/
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  &__tab {
    width: 172px;
    height: 50px;
    border-right: 1px solid #919393;
    cursor: pointer;
    transition: 0.5 all;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      font-weight: 700;
      color: #00c2f0;
    }
    font-size: .7em;
    line-height: normal;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }
  &__tab:nth-child(6){
    border-right: none;
  }

  .slider__wrapper{
    background-color: rgba(#e1ded8, 0);
    display: flex;
    width: 100%;
  }
  .mySlider{
    width: 100%;
    height: 560px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .mySlider-item{
    position:absolute;
    display: none;
    width: 100%;
    margin: 0 auto;

    img{
      width: 100%;
    }
  }
  .mySlider-item.curry{
    display: block;
  }
}
