.expertSolution{
  padding: 4.2rem 0rem 5rem 0rem;
  background: url('../img/bg/bg-expertSolutions.jpg') center (center/cover) no-repeat;
  &__title{
   text-align: center;
    h3{
      font-size: 1.5em;
      line-height: normal;
      font-weight: 900;
      color: #ffffff;
    }
  }

  .nav{
    min-height: 64px;
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; /*Для ануляции свойств установленных по умолчанию для ul*/
    padding-left: 0; /*Для ануляции свойств установленных по умолчанию для ul*/
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  .nav-link, .last-child{
    width: 135px;
    height: 50px;
    cursor: pointer;
    transition: 0.5 all;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: .7em;
    line-height: normal;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }
  .last-child{
    border-right: 1px solid transparent;
  }
  .last-child:hover{
    text-decoration: none;
  }
  .nav-tabs .nav-link {
  border-right: 1px solid #919393;
}
//убирает обводку
  .nav-link:hover{
    border: 1px solid transparent;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(#e1ded8, 0);
    color: #00c2f0;
    border: 1px solid transparent;
    border-right: 1px solid #919393;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .last-child.active{
    background-color: rgba(#e1ded8, 0);
    color: #00c2f0;
    border: 1px solid transparent;
  }

.carousel-inner{
  margin-top: 2.2rem;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-control-next, .carousel-control-prev {
  width: 8%;
}
.carousel-indicators li{
  display: none;
  background-color: rgba(#008000, 0.9);
  width: 15px;
  height: 15px;
  border-radius: 100%;
}


}
