header{
  padding: 1rem 0rem 1rem 0rem;
  .header__block{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
  }
  .header__block::before, .header__block::after{
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000000;
    top: 10px;
    position:absolute;
    transition: all 0.3s ease 0s;
  }
  .header__block::before{
    transform: rotate(40deg);
    left: 0;
  }
  .header__block::after{
    transform: rotate(-40deg);
    left: 8px;
  }
  .header__block.active::before, .header__block.active::after{
    background: red;
  }
  .header__block.active::before {
    transform: rotate(-40deg);
  }
  .header__block.active::after{
    transform: rotate(40deg);
  }
  .header__row{
    // display: flex;
    display: none;
  }
}
.header__item{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  .header__icon{
    width: 28px;
    height: 21px;
    margin-right: 1rem;
    img{
      width: 100%;
    }
  }
  .header__descr{
    width: 190px;
    line-height: normal;
    span{
      font-size: .7em;
      line-height: normal;
      font-weight: 700;
      color: #242424;
    }
    address, a{
      font-size: .6em;
      line-height: normal;
      font-weight: 300;
      margin: 0;
      margin-top: .6rem;
    }
  }
   address{
      line-height: normal;
  }
  a{
    color: #242424;
    text-decoration: none;
  }
}